$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

h1 {
  font-size: 26px;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#world-map{
  height: 500px;
  } 

.ct-chart {
  height: 300px;
}

#world-map {
  width: 100%;
}

.ct-label.ct-horizontal {
  font-size: 16px;
}


.ct-chart .ct-series-a .ct-bar {
  stroke: darken(#336E7B, 10%);
}

.ct-chart .ct-series-a .ct-bar:nth-of-type(2) {
  stroke: lighten(#336E7B, 10%);
}

.chart h1 {
  font-size: 24px;
}